th,td {
    border: 2px solid black;
}
table{
    width: 30%;
    padding: 7px;
    border-collapse: collapse;
    text-align: left;
    background-color: beige;
}
th{
    text-align: center;
    background-color: aqua;
}
.id{ text-align: center;}