body{
    background-color: #34eb9b;
}
h3{
    color: red;
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
}
#ul1{
    font-size: x-large;
}
#img1{
    position: relative;
    top: 10px;
}